---
import IconButton from "./icon-button.astro";
type Props = {
  id: string;
  text: string;
};

const { id, text } = Astro.props;

const linkId = `#${id}`;
---

<a
  href={linkId}
  class="sticky top-0 z-10 flex justify-between border-b-2 border-gray-800 bg-gray-900 p-8"
>
  <h3 id={id} class="font-bold">{text}</h3>
  <copy-link data-id={id} data-text={text}>
    <IconButton icon="bx-link-alt" />
  </copy-link>
</a>

<script>
  class CopyLink extends HTMLElement {
    constructor() {
      super();

      const id = this.dataset.id;
      const text = this.dataset.text;

      const hostname = window.location.hostname;

      function handleClick() {
        const updateToastEvent = new CustomEvent<{ message: string }>(
          "updatetoast",
          {
            detail: {
              message: `Copied ${text} link!`,
            },
          }
        );

        const toast = document.getElementById("toast");
        toast?.dispatchEvent(updateToastEvent);
        navigator.clipboard.writeText(`${hostname}/#${id}`);
      }

      const button = this.querySelector("button");
      button?.addEventListener("click", handleClick);
    }
  }

  customElements.define("copy-link", CopyLink);
</script>
