---
const footer = {} as any; //data.footer as FooterDocumentQuery;
const navigation = {} as any; //data.navigation as NavigationDocumentQuery;
---



<div class="grid grid-cols-1 gap-16 bg-black px-8 py-24 pb-32 md:grid-cols-3 md:px-24">
  <div class="flex flex-col items-start space-y-2">
    <p class="font-medium text-white">Connect</p>
    {navigation?.connect?.map((item: any) => (
      <a href={item.url}>
        <p class="border-b-2 border-gray-700 transition-colors hover:border-red-600">
          {item.label}
        </p>
      </Link>
    ))}
  </div>
  <div class="flex flex-col items-start space-y-2">
    <p class="font-medium text-white">Boring Stuff</p>
    {footer?.links?.map((item: any) => (
      <a href={item.url}>
        <p class="border-b-2 border-gray-700 transition-colors hover:border-red-600">
          {item.label}
        </p>
      </a>
    ))}
  </div>
  <div class="flex flex-col space-y-2">
    <p class="font-medium text-white">Acknowledgment</p>
    <p>{footer?.acknowledgement}</p>
  </div>
</div>